.info-container {
  background: #eff3f7;
  font-family: Commissioner;
  height: 100vh;
  .ant-breadcrumb {
    height: 48px;
    padding: 0 32px;
    display: flex;
    align-items: center;
  }
  .info-header {
    height: 192px;
    background: #FFFFFF;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .options {
        display: flex;
        gap: 16px;
        .ant-btn {
          width: 110px;
          height: 32px;
          border-radius: 8px;
          background: #E6ECF0;
        }
      }
    }
    .location {
      color: #084782;
      margin: 6px 0;
    }
    .status-btns {
      display: flex;
      gap: 8px;
      .status {
        width: 85px;
        height: 20px;
        border-radius: 8px;
        background: #E6ECF0;
        padding: 8px;
        border: none;
      }
    }
    .ant-divider {
      margin: 0;
    }
    .tab-list {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 42px;
      div {
        width: 62px;
      }
    }
    .status {
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        width: 8px;
        height: 8px;
        border-radius: 3px;
      }
    }
  }
  .info-details {
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-flow: wrap;
    gap: 24px;
    background: #FFFFFF;
    margin: 24px;
    .info-item {
      width: 293px;
      height: 44px;
      .title {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
      }
      .data {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}